html{
    background-image: url("e7b4ce09c703210ab8f75b017c7eaf0951c5a95b737ee8120602845c1c1d944b.jpeg");
    background-size: 100% ;
}
body{
    font-family: Arial, "Times New Roman", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
image{
    width: auto;
}
input,textarea{
    background-color: lightgray
}
.exo{
    color: white;
}
form{
    width: 700px;
}
#rouge{
    color: red;
}
.rouge{
    color: red;
    display: flex;
    float: right;
    margin-right: 100px;
}
label {
display: inline-block;
align-items: center;
width: 180px;
margin-right: 100px;
margin-bottom: 20px;
}
select{
margin-top: 10px;
}
.finish{
    display: flex;
    margin-left: 200px;
}
input{
    margin-right: 10px;
}
